[user]
	email = ss9415@rit.edu
	name = Shantanav Saurav
[core]
	editor = vim
[url "git@github.com:"]
	insteadOf = https://github.com
[user]
    signingkey = EC06810DF0DAB25D31E5BD0ED16BC56F90E8BBE4
[gpg]
	program = gpg2
[pull]
	rebase = false
